<body>
	<h1 class='page-title'>The Main Magneticast page!</h2>

	<img src='/images/cat.jpg'>
	<h2 class='hero'>
		Next upcoming feature is: {{next_feature}}
	</h2>
</body>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="js/mc.js"></script>
<script>
$(function(){
	pullIdeas(); // Pull ideas from the api!
	pullIdeaById(1, function(data){ // Pull the first idea and execute some callback upon it
		console.log(data, data.phrase); // Just console log it for now.
	}); 
});
</script>